.hive {
  /* width: 90vw; */
  width: 500px;
  height: 500px;
}

.hive-cell {
  position: absolute;
  top: calc(100% / 3);
  left: 30%;
  width: 10%;
  height: calc(100% / 3);
}

.hive-cell:nth-child(1) {
  transform: translate(0,0);
}
.hive-cell:nth-child(2) {
  transform: translate(-75%,-50%);
}
.hive-cell:nth-child(3) {
  transform: translate(0,-100%);
}
.hive-cell:nth-child(4) {
  transform: translate(75%,-50%);
}
.hive-cell:nth-child(5) {
  transform: translate(75%,50%);
}
.hive-cell:nth-child(6) {
  transform: translate(0,100%);
}
.hive-cell:nth-child(7) {
  transform: translate(-75%,50%);
}

.hex-cell {
  fill: #e6e6e6;
}

.hex-cell.middle {
  fill: #f8cd05;
}