

.hive {
  /* margin-top: 15%; */
  margin-left: 10%;
  width: 90vw;
  max-width: 330px;
  height: 330px;
  position: relative;
}

.hive-cell {
  position: absolute;
  top: calc(100% / 3);
  left: 30%;
  width: 40%;
  height: calc(100% / 3);
}

.hive-cell text {
  text-transform: uppercase;
  font-size: 36px;
}

/* Cell positions */

.hive-cell:nth-child(1) {
  transform: translate(0,0);
}
.hive-cell:nth-child(2) {
  transform: translate(-75%,-50%);
}
.hive-cell:nth-child(3) {
  transform: translate(0,-100%);
}
.hive-cell:nth-child(4) {
  transform: translate(75%,-50%);
}
.hive-cell:nth-child(5) {
  transform: translate(75%,50%);
}
.hive-cell:nth-child(6) {
  transform: translate(0,100%);
}
.hive-cell:nth-child(7) {
  transform: translate(-75%,50%);
}

/* Cell fill */

.hex-cell {
  fill: #e6e6e6;
}

.hex-cell.middle {
  fill: #f8cd05;
}

/* form */

form {
  position: relative;
  width: 50%;
}

.wordInput {
  caret-color: rgb(255, 221, 0);
  line-height: 50px;
  font-size: 40px;
  transform: translate(0px, -100px);
  /* font-weight: bolder; */
  /* border: none; */
  /* position: absolute;
  top: 100%; */
}

#delButton, #enterButton, #swapButton {
  /* margin-top: 350px; */
  position: absolute;
  top: 650%;
  border-radius: 30px;
  padding: 20px;
  border-color: gray;
  background-color: white;
}

#delButton {
  right: 55%;
}
#swapButton {
  /* right: 80%; */
  /* offset-position: -300px; */
  right: -11%;
}

#enterButton {
  /* position: absolute;
  top: 600%; */
  left: 150%;
  /* transform: translate(5px, 500px); */

}