/* Component layout */

.hiveComponent {
  display: flex;
  justify-content: space-around;
  
}

.scoring {
  width: 40%;
  /* border: solid black 1px; */
}

#levels {
  display: flex;
  justify-content: space-evenly;
}

#correctWords {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: solid rgb(230,230,230) 1px;
  border-radius: 5px;
  height: 50vh;
}
/* Hive shape */

.hive {
  margin-top: 15%;
  margin-left: 10%;
  width: 90vw;
  max-width: 330px;
  height: 330px;
  position: relative;
}

.hive-cell {
  position: absolute;
  top: calc(100% / 3);
  left: 30%;
  width: 40%;
  height: calc(100% / 3);
}

.hive-cell text {
  text-transform: uppercase;
  font-size: 36px;
}

/* Cell positions */

.hive-cell:nth-child(1) {
  transform: translate(0,0);
}
.hive-cell:nth-child(2) {
  transform: translate(-75%,-50%);
}
.hive-cell:nth-child(3) {
  transform: translate(0,-100%);
}
.hive-cell:nth-child(4) {
  transform: translate(75%,-50%);
}
.hive-cell:nth-child(5) {
  transform: translate(75%,50%);
}
.hive-cell:nth-child(6) {
  transform: translate(0,100%);
}
.hive-cell:nth-child(7) {
  transform: translate(-75%,50%);
}

/* Cell fill */

.hex-cell {
  fill: #e6e6e6;
}

.hex-cell.middle {
  fill: #f8cd05;
}

/* form */

form {
  position: relative;
  width: 50%;
}

.wordInput {
  caret-color: rgb(255, 221, 0);
  font-size: 25px;
  transform: translate(0px, -100px);
  /* font-weight: bolder; */
  /* border: none; */
  /* position: absolute;
  top: 100%; */
}

#delButton, #enterButton, #swapButton {
  /* margin-top: 350px; */
  position: absolute;
  top: 950%;
  border-radius: 30px;
  padding: 20px;
  border:solid rgb(230,230,230) 1px;
  background-color: white;
  font-size: 1rem;
}

#delButton {
  right: 55%;
  width: 95px;
}
#swapButton {
  /* right: 80%; */
  /* offset-position: -300px; */
  right: -15%;
  font-size: 2rem;
  padding: 10px;
}

#enterButton {
  /* position: absolute;
  top: 600%; */
  left: 150%;
  width: 95px;
  /* transform: translate(5px, 500px); */

}