/* Loading Page */

.loading-page {
  display: flex;
  justify-content: center;
}

/* Component layout */

.hive-component {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.games-link {
  margin: 20px 0px 20px 10px;
  color: black;
}

.scoring {
  width: 40%;
}

#levels {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#level-name {
  font-weight: 700;
  font-size: 1rem;
}

#points-num {
  background-color: #F8CD05;
  line-height: 32px;
  font-size: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
}

#found-words-label {
  margin-left: 20px;
  font-size: 14px;
}

#correct-words {
  border: solid rgb(230,230,230) 1px;
  border-radius: 5px;
  height: 50vh;
}

.correct-wordlist {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 45vh;
  margin: 20px;
}

/* Hive shape */

.hive {
  margin-top: 15%;
  /* margin-left: 10%; */
  width: 90vw;
  max-width: 325px;
  height: 330px;
  position: relative;
}

.hive-cell {
  position: absolute;
  top: calc(100% / 3);
  left: 30%;
  max-width: 40%;
  height: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hive-cell text {
  text-transform: uppercase;
  font-size: 36px;
}

/* Cell positions */

.hive-cell:nth-child(1) {
  transform: translate(0,0);
}
.hive-cell:nth-child(2) {
  transform: translate(-75%,-50%);
}
.hive-cell:nth-child(3) {
  transform: translate(0,-100%);
}
.hive-cell:nth-child(4) {
  transform: translate(75%,-50%);
}
.hive-cell:nth-child(5) {
  transform: translate(75%,50%);
}
.hive-cell:nth-child(6) {
  transform: translate(0,100%);
}
.hive-cell:nth-child(7) {
  transform: translate(-75%,50%);
}

/* Cell fill */

.hex-cell {
  fill: #e6e6e6;
  
}

.hex-cell.middle {
  fill: #f8cd05;
}

/* form */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.word-input {
  caret-color: rgb(255, 221, 0);
  font-size: 25px;
  border: solid 1px rgb(230,230,230);
  border-radius: 20px;
  text-align: center;
}

.word-input:focus {
  outline: none;
}

.buttons {
  margin: 10px;
}

#del-button, #enter-button, #swap-button {
  margin: 5px;
  border-radius: 30px;
  padding: 15px;
  border: solid rgb(230,230,230) 1px;
  background-color: white;
  font-size: 1rem;
}

#del-button {
  width: 95px;
}
#swap-button {
  font-size: 2rem;
  padding: 5px;
  height: 50px;
  width: 50px;
  line-height: 12px;
}

#enter-button {
  width: 95px;
}

@media (max-width: 600px) {
  .hive-component {
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
  }

  .scoring {
    margin-top: 15px;
    width: 90vw;
  }
}