.loading-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-title, .heroku-loading {
  font-family: Georgia;
}

.heroku-loading {
  text-align: center;
  width: 80%;
}

.one, .two, .three {
  color:#F8CD05;
  font-weight: bold;
  font-family: Georgia;
}

.one {
  animation: ellipsis 1.5s .5s infinite;
}

.two {
  animation: ellipsis 1.5s 1s infinite;
}

.three {
  animation: ellipsis 1.5s 1.5s infinite;
}

@keyframes ellipsis {
  0% {opacity: 0;}
  100% {opacity: 100;}
}